body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 228, 196);
    border-radius: 10px;
    /* overflow: visible; default stanje - vidljiv sadrzaj van elementa */
    /* overflow: hidden; sakriva element koji prelazi granice kontejnera */
    /* overflow: scroll; dodaje scrollbar sa desne strane */
    overflow: auto; /* dodaje scrollbar po potrebi */
}

.paragraph {
    /* font-style: normal; default state */
    /* font-style: italic; iskosena slova */
    /* font-style: oblique; naznaceni text */
    font-weight: 800;
}