li {
    color: green;
}

h1 {
    text-align: center;
}

p {
    /* text-align: left; poravnat uz levu ivicu - Default */
    /* text-align: start; poravnat uz levu ivicu */
    /* text-align: center; */
    /* text-align: right; poravnat uz desnu ivicu */
    /* text-align: end; poravnat uz desnu ivicu */
    text-align: justify; /* poravnat sa obe strane */ 
}

/* div p {
    font-size: 22px;
} */

/* pozivanje klase (tackom) */
.main p {
    font-size: 22px;
}

/* stilovi za svaki p koji je direktno child element kontejnera sa klasom main */
.main > p {
    color: lightblue;
}

/* Primenjuje stilove samo na prvi p nakon div */
div + p {
    color: blue;
}

/* komentar */

/* pozivanje id_ja (#) */
#main-id {
    background-color: cadetblue;
}

.main {
    background-color: rgb(211, 255, 141);
}

/* id ima prioritet u odnosu na klasu */

